@mixin flex($direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin primary-button {
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  font-weight: 700;
  border: none;
  color: $white-color;
}

@mixin image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
