// Colors
$primary-color: burlywood;
$primary-color-hover: rgb(194, 150, 94);
$secondary-color: #00008b;
$secondary-color-hover: #00007b;
$black-color: black;
$white-color: white;
$white-hover-color: rgba(255, 255, 255, 0.9);
$light-gray-color: #d3d3d3;

// Screens sizes
$mobile-max-size: 768px;
$tablet-max-size: 1024px;
$computer-max-size: 1900px;

@keyframes Shake {
  0% {
    transform: rotate(5deg);
  }

  25% {
    transform: rotate(-6deg);
  }

  50% {
    transform: rotate(5deg);
  }

  75% {
    transform: rotate(-6deg);
  }

  100% {
    transform: rotate(5deg);
  }
}
