// Colors
$primary-color: burlywood;
$primary-color-hover: rgb(194, 150, 94);
$secondary-color: #00008b;
$black-color: black;
$white-color: white;
$white-hover-color: rgba(255, 255, 255, 0.9);
$light-gray-color: #d3d3d3;

// Screens sizes
$mobile-max-size: 768px;
$tablet-max-size: 1024px;
$computer-max-size: 1900px;
